* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

.container {
  margin: 50px auto;
  width: 90%;
}

header h1 {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.accordion {
  background-color: #333;
  width: 100%;
  min-width: 800px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}

.tab {
  display: inline-block;
  background-color: #444;
  border-right: #333 1px solid;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
  width: 440px;
}

.tab .content {
  background-color: #fff;
  width: 360px;
  height: 200px;
  margin-left: 80px;
  position: relative;
  padding: 50px 0 0 15px;
}

.tab .content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.tab .content p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-right: 30px;
}

.social a::before,
.social a::after {
  width: 80px;
  height: 200px;
  position: absolute;
  text-indent: 0s;
  display: block;
  padding-top: 90px;
  padding-left: 25px;
  color: #fff;
  background-color: #ff0000;
}

.youtube a::before,
.youtube a::after {
  font-family: "Font Awesome 5 Free";
   content: "\f167";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}

.youtube a:after {
  background-color: #ff0000;
}